{% extends "base.html" %}

{% block content %}
    <p> Select a topic below or type something to search for.
    </p>
    <ul>
    {% for topic_id, topic in topics.iteritems() %}
        <li>
            <a href="{{topic.get_url()}}">
                {{topic.name}}
            </a>
        </li>
    {% endfor %}
    </ul>
    {% if debug %}
        <form action='/' method='POST'>
            <input type='text' name='X-Mxit-User-Input'/>
            <input type='submit'/>
        </form>
    {% endif %}
{% endblock %}


